* { margin: 0; padding: 0 }
/* I've used a hard CSS reset above, but you should consider a more sophisticated reset, such as this one: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

p {
  text-align: left;
  margin: 15px 0px 0px 30px;
}

p, ul {
  font-size: 13px;
  line-height: 1.4em;
}

p a, li a { color: #39c; text-decoration: none }

img { border: 0 }

body {
  font-family: Arial, Verdana;
  color: #000;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.stripViewer .panelContainer .panel ul {
  text-align: left;
  margin: 0 15px 0 30px;
}

/* These 2 lines specify style applied while slider is loading */
.csw {width: 100%; height: 100%; background: #fff; overflow: scroll}
.csw .loading {margin: 200px 0 300px 0; text-align: center}

.stripViewer { /* This is the viewing window */
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 100%;
  clear: both;
  background: #fff;
}

.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
  position: relative;
  left: 0; top: 0;
  width: 100%;
  list-style-type: none;
  /* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
  float: left;
  height: 100%;
  position: relative;
  width: 1920px; /* Also specified in  .stripViewer  above */
}

.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
  padding: 10px;
}

.wrapper {
  width: 800px;
  text-align: left;
}

.content_wrapper {
  border-left: 5px solid #000;
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
  min-height: 30px;
}

.stripNavL, .stripNavR {
  text-indent: -9000em;
}

a.cross-link, .cross-notlink {
  font-family: arial;
  font-size: 12px;
  margin-left: 5px;
  padding: 4px;
  padding-left: 13px;
  padding-right: 13px;
  text-decoration: none;
}

a.cross-link {
  background: #fff;
  color: #000;
}

a:hover.cross-link, .cross-notlink {
  background: #000;
  color: #fff;
}

span.phead {
  font-size: 18px;
}

b {
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px dashed #aaa;
}

span.projectsub, p.footer {
  color: #999;
  font-family: arial;
  font-size: 12px;
}

p.footer {
  margin-right: 20px;
  text-align: right;
}

a.projectsub, a:visited.projectsub, a.footer, a:visited.footer {
  border-bottom: 1px dashed #999;
  color: #999;
  text-decoration: none;
}

a:hover.projectsub, a:hover.footer {
  border-bottom: 1px solid #999;
  color: #444;
  text-decoration: none;
}

p.project {
  position: relative;
  left: 60px;
}

p.projectlogo {
  position: relative;
  left: 40px;
}

span.project {
  position: relative;
  left: 20px;
}

.blog_title {
  font-family: arial;
  font-size: 22px;
  letter-spacing: -2px;
}

a:link.bloghome, a:visited.bloghome {
  position: relative;
  top: -20px;
  color: #222;
}

a:hover.bloghome {
  color: #666;
}

span#project-cslug {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 0 0 3px #888;
}

